In [5]:
import pandas as pd

from sqlalchemy import create_engine
 
# Replace the following with your database connection details

username = 'root'         # Your MySQL username

password = '1234'         # Your MySQL password

host = 'localhost'        # Your MySQL host, e.g., 'localhost' or an IP address

database = 'cvr'          # Your MySQL database name
 
# Create a connection string using SQLAlchemy

connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'
 
# Create an engine

engine = create_engine(connection_string)
 
# Read data from MySQL into a pandas DataFrame

df_sql = pd.read_sql('SELECT * FROM students', engine)
 
# Display the DataFrame

print(df_sql)

    sno                 sname  marks       city      mobile  gender
0     1        gunja srikanth   50.0  hyderabad  9398968719    male
1     2        dasari supriya   78.0  hyderabad  9398968719  female
2     3       varkala tejasri   10.0  hyderabad  9398968719  female
3     4     lavoori varshitha   54.0  hyderabad  9398968719  female
4     5       edunuri bhavika   95.0  hyderabad  9398968719  female
5     6  bejagam chathan teja   87.0  hyderabad  9398968719    male
6     7             c pradeep   82.0  hyderabad  9398968719    male
7     8   rachapally nikhitha   87.0       bglr  9398968719  female
8     9      mandala nikhitha   82.0  hyderabad  9398968719  female
9    10     battula ram gopal   90.0  hyderabad  9398968719    male
10   11        bhukya sridhar   77.0       pune  9398968719    male
11   12           shiva kumar   75.0       pune  9398968719    male
12   13               mounika   75.0       pune  9398968719  female

In [11]:
import pandas as pd

import numpy as np
 
# Creating a sample dataset

data = {'order_id': np.arange(1, 1001)}  # order_id from 1 to 1000

df = pd.DataFrame(data)
 
# Check the default data type

print(df['order_id'].dtype)  # This will show int64

print(f"Memory Usage: {df.memory_usage(deep=True)}")

# Convert order_id to int16 (smallest type that fits)

df['order_id'] = df['order_id'].astype(np.int16)
 
# Check the memory usage

print(f"Memory Usage: {df.memory_usage(deep=True)}")
 
#Memory Saving: The int16 takes only 2 bytes per value, whereas int64 takes 8 bytes.

int32
Memory Usage: Index        132
order_id    4000
dtype: int64
Memory Usage: Index        132
order_id    2000
dtype: int64

In [10]:
# Creating a dataset with float values
data = {'sales_amount': np.random.random(1000000)}  # Random float values
df = pd.DataFrame(data)
 
# Check the default data type
print(df['sales_amount'].dtype)  # This will show float64
 
# Convert to float32 for memory optimization
df['sales_amount'] = df['sales_amount'].astype(np.float32)
 
# Check the memory usage
print(f"Memory Usage: {df.memory_usage(deep=True)}")
 
#float32 takes 4 bytes compared to 8 bytes for float64.

float64
Memory Usage: Index               132
sales_amount    4000000
dtype: int64

In [12]:
# Creating a dataset with repeated string values
data = {'city': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Los Angeles'] * 100000}
df = pd.DataFrame(data)
 
# Check the memory usage with object type
print(df['city'].dtype)  # This will show object (i.e., string)
 
# Convert to category type
df['city'] = df['city'].astype('category')
 
# Check the memory usage after conversion
print(f"Memory Usage: {df.memory_usage(deep=True)}")

object
Memory Usage: Index       132
city     500305
dtype: int64

In [ ]:
#1. Deletion

#Listwise Deletion: Remove rows with any missing values.

data_cleaned = data.dropna()
 
#2. Imputation

#Mean Imputation: Replace missing values with the column mean (numerical data)

data['ColumnName'].fillna(data['ColumnName'].mean(), inplace=True)
 
# Median Imputation: Use the column median

data['ColumnName'].fillna(data['ColumnName'].median(), inplace=True)
 
#Mode Imputation: Use the most frequent value (categorical data)

data['ColumnName'].fillna(data['ColumnName'].mode()[0], inplace=True)
 
# Check for duplicate rows

duplicates = data.duplicated()

print(f"Number of duplicate rows: {duplicates.sum()}")
 
# Display duplicated rows

print(data[data.duplicated()])
 
#Remove all duplicate rows (full duplicates):

data_cleaned = data.drop_duplicates()
 
#Remove duplicates based on specific columns (partial duplicates):

data_cleaned = data.drop_duplicates(subset=['Name', 'Age'])
 
#Keeping the First/Last Occurrence

#You can choose to keep either the first or last occurrence of a duplicate row.
 
# Keep the first occurrence of each duplicate

data_cleaned = data.drop_duplicates(keep='first')
 
# Keep the last occurrence

data_cleaned = data.drop_duplicates(keep='last')

 
# Replace typos in 'City' column

data['City'] = data['City'].replace({'Nwe York': 'New York', 'Los Angles': 'Los Angeles'})

 
# Convert all text in 'City' column to lowercase

data['City'] = data['City'].str.lower()

 
Remove extra spaces:

data['City'] = data['City'].str.strip()

 
Handle inconsistent delimiters in categorical data:

data['Education'] = data['Education'].str.replace(';', ',')

In [21]:
import pandas as pd
data=pd.read_csv("C:\\Users\\CVR\\Downloads\\Uber.csv")
data

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [22]:
data_cleaned=data.dropna()
data_cleaned

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
...,...,...,...,...,...,...,...
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [31]:
import pandas as pd

# Load the dataset
data = pd.read_csv("C:\\Users\\CVR\\Downloads\\Uber.csv")

# 1. Deletion: Remove rows with any missing values
data_cleaned = data.dropna()
print("Data after listwise deletion:")
print(data_cleaned.head())

# 2. Imputation
# Example: Replace missing values in 'MILES*' with the mean
if 'MILES*' in data.columns:
    data['MILES*'] = data['MILES*'].astype(float)  # Ensure it's numeric
    data['MILES*'].fillna(data['MILES*'].mean(), inplace=True)

# Example: Replace missing values in 'PURPOSE*' with the mode
if 'PURPOSE*' in data.columns:
    data['PURPOSE*'].fillna(data['PURPOSE*'].mode()[0], inplace=True)

# 3. Check for duplicates
duplicates = data.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

# Display duplicate rows, if any
if duplicates.sum() > 0:
    print("Duplicate rows:")
    print(data[duplicates])

# Remove all duplicate rows
data_cleaned = data.drop_duplicates()

# 4. Remove duplicates based on specific columns (e.g., 'START*', 'STOP*')
data_cleaned = data.drop_duplicates(subset=['START*', 'STOP*'])

# 5. Keep the first occurrence of duplicates
data_cleaned = data.drop_duplicates(keep='first')

# Display the cleaned data
print("Cleaned data:")
print(data_cleaned.head())

# Save the cleaned data to a new CSV file
data_cleaned.to_csv("C:\\Users\\CVR\\Downloads\\Uber_cleaned.csv", index=False)
print("Cleaned data saved to Uber_cleaned.csv")

Data after listwise deletion:
      START_DATE*       END_DATE* CATEGORY*           START*            STOP*  \
0  1/1/2016 21:11  1/1/2016 21:17  Business      Fort Pierce      Fort Pierce
2  1/2/2016 20:25  1/2/2016 20:38  Business      Fort Pierce      Fort Pierce
3  1/5/2016 17:31  1/5/2016 17:45  Business      Fort Pierce      Fort Pierce
4  1/6/2016 14:42  1/6/2016 15:49  Business      Fort Pierce  West Palm Beach
5  1/6/2016 17:15  1/6/2016 17:19  Business  West Palm Beach  West Palm Beach

   MILES*         PURPOSE*
0     5.1   Meal/Entertain
2     4.8  Errand/Supplies
3     4.7          Meeting
4    63.7   Customer Visit
5     4.3   Meal/Entertain
Number of duplicate rows: 1
Duplicate rows:
         START_DATE*        END_DATE* CATEGORY*  START* STOP*  MILES* PURPOSE*
492  6/28/2016 23:34  6/28/2016 23:59  Business  Durham  Cary     9.9  Meeting
Cleaned data:
      START_DATE*       END_DATE* CATEGORY*       START*            STOP*  \
0  1/1/2016 21:11  1/1/2016 21:17  Business  Fort Pierce      Fort Pierce
1   1/2/2016 1:25   1/2/2016 1:37  Business  Fort Pierce      Fort Pierce
2  1/2/2016 20:25  1/2/2016 20:38  Business  Fort Pierce      Fort Pierce
3  1/5/2016 17:31  1/5/2016 17:45  Business  Fort Pierce      Fort Pierce
4  1/6/2016 14:42  1/6/2016 15:49  Business  Fort Pierce  West Palm Beach

   MILES*         PURPOSE*
0     5.1   Meal/Entertain
1     5.0          Meeting
2     4.8  Errand/Supplies
3     4.7          Meeting
4    63.7   Customer Visit
Cleaned data saved to Uber_cleaned.csv

In [35]:
import pandas as pd
import numpy as np
from scipy import stats

# Load the dataset
df = pd.read_csv('retail_sales_dataset.csv')

# 1. Handling Missing Values
# Identify missing values
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

# Fill missing values
# Median for Total Amount
df['Total Amount'].fillna(df['Total Amount'].median(), inplace=True)
# Mode for Product Category and Customer ID
df['Product Category'].fillna(df['Product Category'].mode()[0], inplace=True)
df['Customer ID'].fillna(df['Customer ID'].mode()[0], inplace=True)

# Drop rows with too many missing values (threshold: 50% missing)
df = df.dropna(thresh=df.shape[1] * 0.5)

FileNotFoundError: [Errno 2] No such file or directory: 'retail_sales_dataset.csv'